version: '3.4'

services:
  analyses-executor-service:
    build: 
      context: analyses-executor-service/
    environment:
      EUREKA_SERVER_PORT: ${EUREKA_SERVER_PORT}
      SPRING_PROFILE: ${SPRING_PROFILE}
      SHARED_MONGODB_URI: ${SHARED_MONGODB_URI}
  analyses-configurator-service:
    build: 
      context: analyses-configurator-service/
    environment:
      EUREKA_SERVER_PORT: ${EUREKA_SERVER_PORT}
      SPRING_PROFILE: ${SPRING_PROFILE}
  projects-service:
    build:
      context: projects-service/
    environment:
      EUREKA_SERVER_PORT: ${EUREKA_SERVER_PORT}
      SPRING_PROFILE: ${SPRING_PROFILE}
      SHARED_MONGODB_URI: ${SHARED_MONGODB_URI}
  reports-service:
    build:
      context: reports-service/
    environment:
      EUREKA_SERVER_PORT: ${EUREKA_SERVER_PORT}
      SPRING_PROFILE: ${SPRING_PROFILE}
      SHARED_MONGODB_URI: ${SHARED_MONGODB_URI}
  notifications-service:
    build: 
      context: notifications-service/
    environment:
      EUREKA_SERVER_PORT: ${EUREKA_SERVER_PORT}
      SPRING_PROFILE: ${SPRING_PROFILE}
      SHARED_MONGODB_URI: ${SHARED_MONGODB_URI}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      SMTP_AUTH: ${SMTP_AUTH}
      SMTP_STARTTLS: ${SMTP_STARTTLS}
  gateway:
    build: 
      context: gateway/
    environment:
      EUREKA_SERVER_PORT: ${EUREKA_SERVER_PORT}
      SPRING_PROFILE: ${SPRING_PROFILE}
  eureka-server:
    build: 
      context: eureka-server/
    environment:
      EUREKA_SERVER_PORT: ${EUREKA_SERVER_PORT}
      CONFIG_SERVER_PORT: ${CONFIG_SERVER_PORT}
  config-server:
    build:
      context: config-server/
    environment:
      CONFIG_SERVER_PORT: ${CONFIG_SERVER_PORT}
      EUREKA_SERVER_PORT: ${EUREKA_SERVER_PORT}
  zookeeper:
    image: wurstmeister/zookeeper
  kafka:
    image: wurstmeister/kafka:0.10.1.1
    environment:
      KAFKA_ADVERTISED_HOST_NAME: ${KAFKA_ADVERTISED_HOST_NAME}
      KAFKA_ADVERTISED_PORT: ${KAFKA_ADVERTISED_PORT}
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:${ZOOKEEPER_PORT}
      KAFKA_CREATE_TOPICS: ${KAFKA_TOPICS}
    depends_on:
      - zookeeper
