version: '3.4'

services:
  analyses-executor-service:
    environment:
      ANALYSES_EXECUTOR_SERVICE_PORT: ${ANALYSES_EXECUTOR_SERVICE_PORT}
    ports:
      - "${ANALYSES_EXECUTOR_SERVICE_PORT}:${ANALYSES_EXECUTOR_SERVICE_PORT}"
    depends_on: 
      - analyses-executor-mongodb
    networks:
      - analyses-executor-mongodb-net
      - backend-net
    volumes:
      - type: bind
        source: ./analyses-executor-service/data
        target: /data
  analyses-executor-mongodb:
    image: mongo:3.7
    environment:
      MONGO_INITDB_DATABASE: analyses-executor
    networks:
      - analyses-executor-mongodb-net
    volumes:
      - analyses-executor-mongodb-configdb:/data/configdb
      - analyses-executor-mongodb-db:/data/db
  analyses-configurator-service:
    environment:
      ANALYSES_CONFIGURATOR_SERVICE_PORT: ${ANALYSES_CONFIGURATOR_SERVICE_PORT}
    ports:
      - "${ANALYSES_CONFIGURATOR_SERVICE_PORT}:${ANALYSES_CONFIGURATOR_SERVICE_PORT}"
    networks:
      - backend-net
  projects-service:
    environment:
      PROJECTS_SERVICE_PORT: ${PROJECTS_SERVICE_PORT}
    ports:
      - "${PROJECTS_SERVICE_PORT}:${PROJECTS_SERVICE_PORT}"
    networks:
      - backend-net
  reports-service:
    environment:
      REPORTS_SERVICE_PORT: ${REPORTS_SERVICE_PORT}
    ports:
      - "${REPORTS_SERVICE_PORT}:${REPORTS_SERVICE_PORT}"
    networks:
      - backend-net
  notifications-service:
    environment:
      NOTIFICATIONS_SERVICE_PORT: ${NOTIFICATIONS_SERVICE_PORT}
      NOTIFICATIONS_DB_USER: ${NOTIFICATIONS_DB_USER}
      NOTIFICATIONS_DB_PASSWORD: ${NOTIFICATIONS_DB_PASSWORD}
      NOTIFICATIONS_DB: ${NOTIFICATIONS_DB}
    ports:
      - "${NOTIFICATIONS_SERVICE_PORT}:${NOTIFICATIONS_SERVICE_PORT}"
    depends_on: 
      - notifications-db
    networks:
      - notifications-db-net
      - backend-net
  notifications-db:
    image: mariadb:10.2
    environment:
      MYSQL_ROOT_PASSWORD: ${NOTIFICATIONS_DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${NOTIFICATIONS_DB}
      MYSQL_USER: ${NOTIFICATIONS_DB_USER}
      MYSQL_PASSWORD: ${NOTIFICATIONS_DB_PASSWORD}
    volumes:
      - notifications-db-data:/var/lib/mysql
    networks:
      - notifications-db-net
  gateway:
    environment:
      GATEWAY_PORT: ${GATEWAY_PORT}
    ports:
      - "${GATEWAY_PORT}:${GATEWAY_PORT}"
    networks:
      - backend-net
  eureka-server:
    networks:
      - backend-net
  config-server:
    networks:
      - backend-net
  zookeeper:
    networks:
      - backend-net
  kafka:
    networks:
      - backend-net
networks:
  backend-net:
    driver: bridge
  notifications-db-net:
    driver: bridge
  analyses-executor-mongodb-net:
    driver: bridge
volumes:
  notifications-db-data:
  analyses-executor-mongodb-db:
  analyses-executor-mongodb-configdb: