spring:
  application:
    name: config-server
  cloud:
    config:
      name: config-server
      server:
        native:
           search-locations: file:/srv/config-server/shared
  profiles:
     active: native
server:
  port: ${CONFIG_SERVER_PORT}
eureka:
  client:
    region: default
    registryFetchIntervalSeconds: 5
    serviceUrl:
      defaultZone: http://eureka-server:${EUREKA_SERVER_PORT}/eureka/
